Source: ros-kinetic-adi-driver
Section: misc
Priority: extra
Maintainer: Tokyo Opensource Robotics Kyokai (TORK) Developer Team <dev@opensource-robotics.tokyo.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-roscpp, ros-kinetic-roslaunch, ros-kinetic-roslint, ros-kinetic-rostest, ros-kinetic-sensor-msgs, ros-kinetic-std-srvs
Homepage: http://wiki.ros.org/adi_driver
Standards-Version: 3.9.2

Package: ros-kinetic-adi-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-imu-filter-madgwick, ros-kinetic-roscpp, ros-kinetic-rqt-plot, ros-kinetic-rviz, ros-kinetic-sensor-msgs, ros-kinetic-std-srvs, ros-kinetic-xacro
Description: The adi_driver package
